#gstligalleryproject_menu {
    background: hsl(0, 0%, 92%);
    position: relative;
    z-index: 10;
}
#gstligalleryproject_menu ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
}
#gstligalleryproject_menu ul li {
    font: 300 16px/18px sans-serif;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 15px 20px;
    cursor: pointer;
    color: hsl(0, 0%, 0%);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#gstligalleryproject_menu ul li:hover {
    background: hsl(0, 0%, 100%);
}
#gstligalleryproject_menu ul li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    width: 150px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -transition: opacity 0.4s;
}
#gstligalleryproject_menu ul li ul li {
    background: hsl(0, 0%, 92%);
    display: block;
    color: hsl(0, 0%, 29%);
}
#gstligalleryproject_menu ul li ul li:hover {
    background: hsl(0, 0%, 100%);
}
#gstligalleryproject_menu ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}
#gstligalleryproject_menu ul li:hover ul li:last-child {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
#gstligalleryproject_menu a {
    color: black;
    text-decoration: none;
}
#gstligalleryproject_menu ul li:hover > a {
    text-decoration: underline;
}