[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  transition:all .5s 0s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  transform: translateX(-10rem);
}

[ui-view].ng-enter-active {
  opacity: 1;
  transform: translateX(0rem);

}

[ui-view].ng-leave {
  opacity: 1;
}

[ui-view].ng-leave-active {
  opacity: 0;
}

[ui-view].ng-enter-right.ng-enter , [ui-view].ng-enter-right.ng-leave {
  position: relative;
}

[ui-view].ng-enter-right.ng-enter {
  opacity: 0;
  transform: scale(1.2);
  z-index: 1
}

[ui-view].ng-enter-right.ng-enter-active {
  opacity: 1;
  transform: scale(1.0);
}

[ui-view].ng-enter-right.ng-leave {
  position: absolute;
  opacity: 1;
  top: 0
}

[ui-view].ng-enter-right.ng-leave-active {
  opacity: 0;
  transform: scale(.9);
  z-index: 0
}




.ng-enter, .ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  transition:all .5s 0s ease-in-out;
}

.ng-enter {
  opacity: 0;
  transform: translateX(-10rem);
}

.ng-enter-active {
  opacity: 1;
  transform: translateX(0rem);

}

.ng-leave {
  opacity: 1;
}

.ng-leave-active {
  opacity: 0;
}

.ng-enter-right.ng-enter , .ng-enter-right.ng-leave {
  position: relative;
}

.ng-enter-right.ng-enter {
  opacity: 0;
  transform: scale(1.2);
  z-index: 1
}

.ng-enter-right.ng-enter-active {
  opacity: 1;
  transform: scale(1.0);
}

.ng-enter-right.ng-leave {
  position: absolute;
  opacity: 1;
  top: 0
}

.ng-enter-right.ng-leave-active {
  opacity: 0;
  transform: scale(.9);
  z-index: 0
}
