<div>
  <dl
  class="flex isw100 m0 project-group"
  style="background-image: url('/images/project-group.jpg');"
  >
  <a
    ng-repeat="p in projects"
  ng-href="index.html#/projects/{{$index}}"
    class="projects--box flex__item ish30rem flex flex--yb flex--spacearound  is__link--plain"
    >
      <!--<div class="projects--info"><h1>Go to Project {{p.title}}</h1></div>-->
      <dd>
        <h3
        class="flex__item projects--button"
        >
          {{p.title}}
        </h3>
        </dd>
      </a>
  </dl>
</div>
<div ui-view></div>