<div class="flex flex--stretch py0 project--box--gradient ">
    <section class="project--sections--box project--box-bg">
        <li ng-style="{'transform' : 'translate3d({{section.coords.x}}rem, {{section.coords.y}}rem, 0rem)'}" ng-mouseenter="hover(section); $state.go('projects.list.preview', {project: projectIndex, section: $index, type : 'video'})" ng-mouseleave="hover(section)" ng-class="{active : section.show}" class="section-box" ng-repeat="section in project.sections">


            <a class="section-link" ng-click="">
                <span class="is__text--size--milli">
                    {{section.title}}
                </span>
            </a>
            <!--<input
              name=locationX
              type=range
              ng-model="section.coords.x" min=0 max=50 step=1>-->
            <div class="section-box__content" ng-show="section.show">
                {{section.subtitle}}

            </div>

        </li>
    </section>
    <section class="flex__item m20 ml40 mt20">
        <div class="list--preview--ui-container">
            <div ui-view class="ng-enter-right"></div>
        </div>
        <div>
            <span class="is__text--size--micro">A Project by</span>
            <h1 class="mt0 is__text--c-{{project.color}} is__text--size--giga">{{project.name}}</h1>
            <p class="" ng-hide="$state.is('project.list.preview')">{{project.content}}</p>
        </div>
    </section>
</div>
<section></section>
