<div ng-hide=true class="px20 flex flex--xsb header--box">
    <h1 class="is__text--c-blue">GSTLI</h1>
    <div class="flex flex--xy">

        <div ng-show="$state.is('projects.section')" class="flex flex--xy">

        <div class="projects--button projects--button--gray">Back to:</div>

            <a class="projects--button" ui-sref="projects.list({project: 0})"> Sections</a>

            <a class="projects--button" ui-sref="projects.index">Projects</a>
        </div>

        <div ng-show="$state.includes('projects.list')" class="flex flex--xy">

        <div class="projects--button projects--button--gray">Back to:</div>

        <a class="projects--button" ui-sref="projects.index"> Projects</a>
        </div>
    </div>
</div>

<div class="px20 project--box--gradient flex flex--xsb">
    <h1></h1>
    <div class="flex flex--xy">
        <div ng-show="$state.is('projects.section')" class="flex flex--xy">

            <a class="projects--button projects--button--bg-clear" ui-sref="projects.list({project: 0})"> Sections</a>

            <a class="projects--button projects--button--bg-clear" ui-sref="projects.index">Projects</a>
        </div>

        <div ng-show="$state.includes('projects.list')" class="flex flex--xy">

        <a class="projects--button projects--button--bg-clear" ui-sref="projects.index"> Projects</a>
        </div>
    </div>
</div>


<div class="is__this--relative">
    <div ui-view>

    </div>
</div>
