<div class="is__this--relative">
    <div ng-hide=true class="px20 flex flex--xsb header--box">
        <h1 class="is__text--c-blue">GSTLI</h1>
        <div class="flex flex--xy">
        </div>
    </div>

    <div class="px20 flex flex--xsb">
        <h1></h1>
        <div class="flex flex--xy">
            <div ng-show="$state.is('projects.preview')" class="flex flex--xy">

                <a class="projects--button projects--button--bg-clear" ui-sref="projects({project: 0})"> Sections</a>

                <a class="projects--button projects--button--bg-clear" href="projects.html">Projects</a>
            </div>

            <div ng-show="$state.is('projects')" class="flex flex--xy">

                <a class="projects--button projects--button--bg-clear" href="projects.html"> Projects</a>
            </div>
        </div>
    </div>



    <div class="flex flex--stretch py0 project--box--gradient ">
        <section class="project--sections--box project--box-bg">
            <li ng-style="{'transform' : 'translate3d({{section.coords.x}}rem, {{section.coords.y}}rem, 0rem)'}" ng-mouseenter="hover(section); $state.go('projects.preview', {project: projectIndex, section: $index, type : 'video'})" ng-mouseleave="hover(section)" ng-class="{active : section.show}" class="section-box" ng-repeat="section in project.sections">


                <a class="section-link" ng-click="">
                    <span class="is__text--size--milli">
                        {{section.title}}
                    </span>
                </a>
                <!--<input
              name=locationX
              type=range
              ng-model="section.coords.x" min=0 max=50 step=1>-->
                <div class="section-box__content" ng-show="section.show">
                    {{section.subtitle}}

                </div>

            </li>
        </section>
        <section class="flex__item m20 ml40 mt20">
            <div class="list--preview--ui-container">
                <div ui-view class="ng-enter-right"></div>
            </div>
            <div class="filler" ng-hide="$state.is('projects.preview')">
                <span class="is__text--size--micro">A Project by {{project.name}}</span>
                <h1 class="mt0 is__text--c-{{project.color}} is__text--size--giga">{{project.subtitle}}</h1>
                <p class="">{{project.content}}</p>
            </div>
        </section>
    </div>
</div>
