<div class="filler ng-enter-right list--index" ng-hide="$state.is('projects.preview')">
    <span class="is__text--size--micro">A Project by {{project.name}}</span>
    <h1 class="mt0 is__text--c-blue project--title">{{section.subtitle}}</h1>


    <a class="section-box__icon--holder" ng-hide="section.mediaLink == 'videoonly'" ng-click="$state.go('projects.index', {project: projectIndex, section: $stateParams.section, type: oppositeType($stateParams.type)}, {notify : 'false'})">
        <div class="section-box__icon text" ng-show="$stateParams.type == 'video'"></div>
        <div class="section-box__icon video" ng-show="$stateParams.type == 'text'"></div>
    </a>


    <div ng-hide="$stateParams.type == 'text'" class="section--video--box flex">
        <iframe ng-hide="type == 'text'" ng-src="{{getLink(section.video)}}" width="100%" height="20rem" class="section--video flex__item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <p ng-hide="$stateParams.type == 'video'">
    {{section.content}}</p>
</div>
