
.project-group
  background-size: cover

.projects--button
  border-radius: $border-radius-l
  @extend .is__background--c-white
  @extend .p4
  @extend .is__text--center
  @extend .is__text--c-blue
  text-decoration: none
  font-family: Avenir Next
  @extend .is__text--medium

  &:hover, &:active
    @extend .is__background--c-blue
    @extend .is__text--c-white


.projects--button-text

.project-list--box
  background: url('/images/hand-horz.jpg') no-repeat
  background-size: contain